#navbar {
    width: 100%;
    padding: 0 32px;

    .navbar-options,
    .navbar-options-mobile {
        max-width: 1640px;
        margin: 2rem auto 0;
        height: 64px;
        background: rgba(123, 74, 226, 0.05);
        border-radius: 16px;
        display: flex;
        padding: 0 24px;
        align-items: center;
        gap: 16px;

        >a:first-of-type {
            color: #7B4AE2 !important;
        }

        img {
            margin-right: auto;
        }

        a {
            color: var(--white);
            text-decoration: none;
            font-size: 1.125rem;
            font-weight: 700;
            cursor: pointer;
            padding: 20px;
            transition: 0.2s;

            &:hover {
                color: #7B4AE2 !important;
                transform: scale(1.1);
            }
        }
    }

    .navbar-options-mobile {
        display: none;
        margin: 1rem auto 0;
        background: transparent;
        justify-content: center;

        a {
            padding: 0px;
        }
    }

    img {
        cursor: pointer;
    }

    .user-info {
        display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        gap: 0 8px;
    }

    .user-name-type {
        display: flex;
        flex-direction: column;
        color: black;
        max-width: 175px;

        span {
            display: inline-block;
            white-space: nowrap;
            font-weight: 600;
            overflow: hidden !important;
            text-overflow: ellipsis;
        }

        small {
            display: flex;
            align-items: center;
            font-weight: 600;
            gap: 0 8px;
        }
    }

    @media screen and (max-width: 768px) {
        .navbar-options-mobile {
            display: flex;
        }

        .navbar-options {
            display: none;
        }
    }
}