#footer {
    margin: 2rem auto 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 32px;
    background: rgba(123, 74, 226, 0.1);
    height: 88px;

    .footer-items {
        width: 100%;
        max-width: 1702px;
        gap: 10px;
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            flex: 1 1 210px;
        }
    }

    @media screen and (max-width: 380px) {
        .footer-items {
            justify-content: center;

            span {
                text-align: center;
            }

            #social-media {
                order: -1;
            }
        }
    }
}