#top-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 160px;
    min-height: 46px;
    background: rgba(123, 74, 226, 0.1);
    border-radius: 16px;
    font-size: 1.25rem;
    line-height: 23px;
    color: #7B4AE2;
}